
/* fonts */

h1,
h2,
h3,
p {
font-family: 'Arimo', sans-serif;
color: #333;
}

/* overall styles */

body {
	padding: 2rem;
}

footer {
	clear: left;
}


/* piece */

h1,
p {
	text-align: center;
}

.piece-style {
	width: 200px;
	height: 200px;
	border: 2px solid #333;
	margin: 0 auto;
}

#options {
	margin: 1% auto;
}


/* footer */

footer {
	padding-top: 2%;
	font-size: .75em;
}